<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app angular</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
  </head>
  <body class="html"></body>
  <h2>Mi casita</h2>
<p>La casa mas hermosa de todas </p>
<p class="chicki">Bienvenidos a mi casa :)</p>

<ul>
  <li><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">gmail</a></li>
  <li><a href="https://open.spotify.com/intl-es" target="_blank">Spotify</a> </li>
  <li><a href="https://www.instagram.com/_.soybyron._/" target="_blank">Instagram del creador:</a></li>
</ul>

<br>
<br>

<table>
  <tr>
    <th>Paises</th>
    <th>Capitales</th>
    <th>Habitantes</th>
  </tr>
  <tr>
    <td>Colombia</td>
    <td>Bogota</td>
    <td>32´576.000</td>
  </tr>
  <tr>
    <td>Mexico</td>
    <td>Ciudad de Mexico</td>
    <td>43´330.156</td>
  </tr>
  <tr>
    <td>Estados Unidos</td>
    <td>Washington</td>
    <td>57´124.768</td>
  </tr>
</table>

<br>
<br>

<body> 
  <div class="contenedor">
    <div class="header">
          <div class="logo">
            <p></p>
          </div>
      <div class="buscador">
        <p class="p-buscador">buscador:</p>
      </div>
    </div>
    <div class=main>
      <div class=side-bar>slide-bar</div>
      <div class=content><p></p></div>
    </div>
    <div class="footer">
        <div class="footer-1">
            <p class="p-footer">Colombia</p>
        </div>
        <div class="footer-2">
            <p class="p-footer">Mexico</p>
        </div>
        <div class="footer-3">
            <p class="p-footer">USA</p>
        </div>
    </div>
  </div>
  
    
</body>
  
<br>
<router-outlet />