<h1>Detalles de la licencia</h1>

<div class="p-fluid">
    <form [formGroup]="otherForm">
        <div class="p-field">
            <label for="beginDate">Fecha de inicio</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar-times"></i></span>
                <p-calendar id="beginDate" formControlName = "beginDate"></p-calendar>
            </div>
            <div *ngIf="otherForm.controls['beginDate'].invalid && otherForm.controls['beginDate'].touched" class="error">
                Seleccione la fecha de Iniciacion 
            </div>
        </div>
        <div class="p-field">
            <label for="endDate">Fecha de finalización</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar-times"></i></span>
                <p-calendar id="endDate" formControlName = "endDate"></p-calendar>
            </div>
            <div *ngIf="otherForm.controls['endDate'].invalid && otherForm.controls['endDate'].touched" class="error">
                Seleccione la fecha de finalización 
            </div>
        </div>
        <div class="p-field">
            <label for="textEdit">Notas</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-left"></i></span>
                <textarea pInputTextarea formControlName="textEdit"></textarea>
            </div>
        </div>
    </form>
</div>